<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 3px solid #089933;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffe6b3;
}

tr:nth-child(odd) {
    background-color: #ff884d;
}

</style>
</head>
<body>

<table>
  <tr>
    <th>Food</th>
    <th>Carbs/gram</th>
  </tr>
  <tr>
    <td>Apple (Fiji)</td>
    <td>0.1 g</td>
  </tr>
  <tr>
    <td>Apple (Honey Crisp)</td>
    <td>0.1 g</td>
  </tr>
  <tr>
    <td>Apricot</td>
    <td>0.1 g</td>
  </tr>
  <tr>
    <td>Banana</td>
    <td>0.2 g</td>
  </tr>
  <tr>
    <td>Bread (Wheat)</td>
    <td>0.4</td>
  </tr>
  <tr>
    <td>Bread (White) </td>
    <td>0.5 g</td>
  </tr>

<tr>
    <td> Cake (Carrot) </td>
    <td>0.8 g</td>
  </tr>

<tr>
    <td>Cake (Chocolate) </td>
    <td>0.5 g</td>
  </tr>

<tr>
    <td>Carrot </td>
    <td>0.1 g</td>
  </tr>

<tr>
    <td>Cheese </td>
    <td>0.0 g</td>
  </tr>

<tr>
    <td>Chocolate (Dark) </td>
    <td>0.6 g</td>
  </tr>

<tr>
    <td>Chocolate (Milk) </td>
    <td>0.6 g</td>
  </tr>

<tr>
    <td>Chocolate (White) </td>
    <td>0.6 g</td>
  </tr>

<tr>
    <td>Cookie </td>
    <td>0.56 g</td>
  </tr>

<tr>
    <td>Donut (Chocolate) </td>
    <td>0.5 g</td>
  </tr>

<tr>
    <td>Donut (Glazed) </td>
    <td>0.7 g</td>
  </tr>

<tr>
    <td>Egg </td>
    <td>0.0 g</td>
  </tr>

<tr>
    <td>Eggplant </td>
    <td>0.1 g</td>
  </tr>

<tr>
    <td> Fish  </td>
    <td>0.0 g</td>
  </tr>

<tr>
    <td>Goldfish (Original) </td>
    <td>0.7 g</td>
  </tr>

<tr>
    <td>Goldfish (Pretzel) </td>
    <td>0.85 g</td>
  </tr>

<tr>
    <td>Grapes (Green) </td>
    <td>0.2 g</td>
  </tr>

<tr>
    <td>Grapes (Red) </td>
    <td>0.2 g</td>
  </tr>

<tr>
    <td>Grapefruit</td>
    <td>0.1 g</td>
  </tr>

<tr>
    <td>Grilled Cheese (Wheat) </td>
    <td>0.6 g</td>
  </tr>

<tr>
    <td>Grilled Cheese (White) </td>
    <td>0.7 g</td>
  </tr>

<tr>
    <td>Ice Cream (Chocolate) </td>
    <td>0.3 g</td>
  </tr>

<tr>
    <td>Ice Cream (Strawberry) </td>
    <td>0.3 g</td>
  </tr>

<tr>
    <td>Ice Cream (Vanilla) </td>
    <td>0.2 g</td>
  </tr>

<tr>
    <td>Juice (Apple) </td>
    <td>0.1 g</td>
  </tr>

<tr>
    <td>Juice (Cranberry) </td>
    <td>0.1 g</td>
  </tr>

<tr>
    <td>Juice (Orange)</td>
    <td>0.1 g</td>
  </tr>

<tr>
    <td>Jam (Grape) </td>
    <td>0.7 g</td>
  </tr>

<tr>
    <td> Jam (Raspberry) </td>
    <td>0.7 g</td>
  </tr>

<tr>
    <td>Jam (Strawberry) </td>
    <td>0.7 g</td>
  </tr>

<tr>
    <td>Lemonade </td>
    <td>0.1 g</td>
  </tr>

<tr>
    <td>Milk (2%) </td>
    <td>0.05 g</td>
  </tr>

<tr>
    <td>Milk (Nonfat) </td>
    <td>0.05 g</td>
  </tr>
<tr>
    <td>Milk (Soy) </td>
    <td>0.06 g</td>
  </tr>

<tr>
    <td>Milk (Whole) </td>
    <td>0.05 g</td>
  </tr>

<tr>
  <td>Pepper (Green) </td>
  <td>0.05 g</td>
</tr>

<tr>
  <td>Pepper (Orange) </td>
  <td>0.04 g</td>
</tr>

<tr>
  <td>Pepper (Red) </td>
  <td>0.09 g</td>
</tr>

<tr>
  <td>Pepper (Yellow) </td>
  <td>0.06 g</td>
</tr>

<tr>
  <td>Popcorn (Caramel) </td>
  <td>0.9 g</td>
</tr>

<tr>
  <td>Popcorn (Cheese) </td>
  <td>0.4 g</td>
</tr>

<tr>
  <td>Popcorn (Salted) </td>
  <td>0.4 g</td>
</tr>

<tr>
  <td>Pretzel (Soft) </td>
  <td>0.8 g</td>
</tr>

<tr>
  <td>Pretzel (Hard) </td>
  <td>0.8 g</td>
</tr>

</table>
</body>
</html>

